.calendar-container {
  height: 100%;
  width: 100%;
}

.event {
  position: absolute;
  background-color: #61dafb;
  border: 1px solid grey;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  font-size: 10px;
}
